.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}

.logo {
  cursor: pointer;
  text-decoration: none;
}

.logo span {
  font-size: 30px;
  font-weight: 700;
}

.logo span:first-child {
  margin-right: 3px;
  color: var(--mainBlack);
}

.logo span:last-child {
  color: var(--primaryColor);
}

.socialIcons {
  display: none;
}

.navToggler {
  font-size: 25px;
  color: var(--primaryColor);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .navToggler {
    display: none;
  }

  .navbar {
    width: 85%;
    margin: 0 auto;
  }

  .socialIcons {
    display: flex;
    flex-direction: row;
  }

  .socialIcons a {
    margin-right: 10px;
    color: var(--primaryColor);
  }

  .socialIcons a svg {
    font-size: 23px;
  }
}
