.errorHero {
  background: var(--primaryColor);
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.poemHero {
  background: var(--primaryColor);
  min-height: calc(70vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdfContainer {
  width: 100%;
  overflow-x: auto;
  min-height: 10rem;
}
