.errorHero {
  background: var(--primaryColor);
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectHero {
  background: var(--primaryColor);
  min-height: calc(60vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectInfo {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.projectHero > h2 {
  width: 90%;
  text-align: center;
  margin-bottom: 2rem;
}

.projectInfo > div {
  width: 80%;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectInfo > div > h2 {
  width: 100%;
  text-align: center;
  color: var(--primaryColor);
  /* text-decoration: underline; */
}

.imageContainer {
  width: 100%;
  height: 15rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  transition: var(--mainTransition);
  margin-top: 1rem;
  position: relative;
}

.imageHover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  display: none;
}

.imageHover svg {
  font-size: 34px;
  color: var(--primaryColor);
  cursor: pointer;
}

.imageContainer:hover {
  transform: translateY(-5px);
}

.imageContainer:hover .imageHover {
  display: flex;
}

.projectImage {
  max-width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modalImageContainer {
  background-color: #ffffff;
  padding: 1rem;
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.modalImageContainer > svg.close {
  font-size: 30px;
  color: var(--primaryColor);
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}

.modalImageContainer > img {
  max-height: 90%;
  max-width: 85%;
}

.imageNavigation {
  width: 90%;
  display: flex;
  justify-content: center;
}

.modalImageContainer > svg.navigationIcon {
  /* font-size: 20px; */
  color: var(--primaryColor);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .modalImageContainer > svg.navigationIcon {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .projectInfo > h2 {
    margin-bottom: 3rem;
  }
  .projectInfo > div {
    width: 50%;
  }

  .imageContainer {
    width: 45%;
    margin-left: 1rem;
  }
}
